# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Large map tiles and bundles
public/tiles/
public/tile_layer/
public/TilePNG/
*.bundle

# Ignore specific text file
rep_z05_text.txt

# Large GeoJSON datasets
public/BuildingNKK_SR.geojson
public/GeoJSON_SoalrKKN/
